APP_NAME=CampusOps
APP_ENV=development
DEBUG=true

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=campusops
POSTGRES_USER=campusops
POSTGRES_PASSWORD=change_me

AD_ENABLED=false
AD_SERVER=192.168.56.10
AD_PORT=389
AD_DOMAIN=corp.lab
AD_BASE_DN=DC=corp,DC=lab
AD_BIND_USER=svc-campusops@corp.lab
AD_BIND_PASSWORD=change_me